/**
 * _icon.scss
 * 汎用的に利用出来るアイコンを定義
 * prefix - 'c-ico-'
 * ex: .c-ico__github
 */

// スプライト画像のテスト
.c-ico__github {
  @include r-sprite($github);
  display: block;
}
// svgスプライトのテスト
.c-ico__arrow__up {
  fill: pink;
}
.c-ico__arrow__up__svg {
  display: block;
  width: 300px;
  height: 300px;
  background: url(../img/svg/test_2.svg#apple_css);
}
