/**
 * template/_svg_sprite.scss
 * SVGスプライト画像読込用のプロパティ群を定義
 */

$svg-{{dirname}}: (
  sprite: (
    width  : {{spriteWidth}}px,
    height : {{spriteHeight}}px,
    svgPath: "../img/svg_sprite/" + {{dirname}} + ".svg"
  ),
  {{#shapes}}
    {{base}}: (
      width      : {{width.inner}}px,
      height     : {{height.inner}}px,
      backgroundX: {{position.absolute.x}}px,
      backgroundY: {{position.absolute.y}}px
    ),
  {{/shapes}}
);
